/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* below */
body{
    display: flex;
    flex-direction: column;
    font-family: "futura-pt", sans-serif;
    background-color: rgb(52, 53, 53);
    color:aliceblue;
}
h1{
    font-size: 24pt;
}
#tags a {
    text-decoration: none; /* 去除默认下划线 */
    color: inherit; /* 继承父元素颜色 */
}

#tags a:hover {
    color: gray; /* 悬停时改变颜色 */
}

menu{
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 53, 53);
    /* color: rgb(52, 53, 53); */
    position:fixed;
    z-index: 10;
    padding:20px;
}

menu #tags{
    width:50%;
    display: flex;
    justify-content: space-around;
}

.project{
    margin: 1em;
    position: relative;
    top:5em;
}
.project img {
    width: 100%; /* 确保图片自适应容器 */
    display: block;
    max-width: 600px;
}
.project .title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 40px);
    padding: 20px;
    margin:0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

.project .title p {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project:hover .title p {
    display: block;
    opacity: 1;
}


.title{
    margin: 1em;
}



/* 主体排版 */
.intro-container {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center;
    gap: 20px; /* 图片和文本之间的间距 */
    position:relative;
    top:5em;
}

/* 图片样式 */
.intro-container img {
    width: 300px;
    height: auto;
    /* border-radius: 10px;  */
}

/* 文字部分 */
.intro-text{
    width:400px;
}
.intro-text h1 {
    margin: 0;
    font-size: 2em;
}

.intro-text p {
    margin-top: 10px;
    line-height: 1.5;
}