p{
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

/* List styling */
/* ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
    font-size: 16px;
} */

a.underline {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
/* 隐藏滚动条轨道 */
::-webkit-scrollbar-track {
    background: transparent;
}

/* 隐藏滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: transparent;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "futura-pt", sans-serif;
    background-color: rgb(34, 35, 35);
    color: #f0f8ff;
    align-items: center;
}

menu {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 35, 35);
    position: fixed;
    z-index: 10;
}

menu section {
    height: 60px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 35, 35);
    position: fixed;
    z-index: 10;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 60px;
    margin: 0 20px;
    /* background-color: aquamarine; */
}

menu section #tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

menu section #tags h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#tags a {
    position: relative;
    padding-bottom: 5px;
}

#tags a:hover {
    color: gray;
    /* 悬停时改变颜色 */
}

menu #tags h1 a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: grey;
}

menu #tags h1 a.active {
    pointer-events: none;
    /* 禁止点击 */
    cursor: default;
    /* 光标样式 */
    color: gray;
    /* 可选：改变颜色，表明当前不可点击 */
}


.project .title {
    position: absolute;
    bottom: 0;
    padding: 20px;
    margin: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s ease;
}

.project .title p {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.title {
    margin: 1em;
}

/* About Me 排版 */
.intro-container {
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: 5em;
}

.intro-container img {
    width: 300px;
    height: auto;
    /* border-radius: 10px;  */
}

.intro-text {
    width: 300px;
}

.intro-text h1 {
    margin: 0;
    line-height: 1.5;
}

.intro-text p {
    margin-top: 10px;
    line-height: 1.2;
}



/* project detail pages 排版 */
#project-detail {
    flex-direction: column;
    align-items: center;
}

#project-detail div {
    width: 100%;
    margin: 10px 0;
}


/* 手机 */
@media(max-width: 650px) {
    h1 {
        letter-spacing: 0.5px;
        font-size: 20px;
    }

    p {
        letter-spacing: 0.3px;
        font-size: 18px;
    }

    menu section {
        width: calc(100% - 40px);
        /* background-color: aqua; */
    }

    menu section #tags {
        gap: 20px;
    }

    .project {
        margin: 20px 0;
        position: relative;
        width: 100%;
    }

    .project img {
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        /* 保持图片填充且不变形 */
        display: block;
    }

    .project .title {
        width: calc(100% - 40px);
        height: 15px;
        /* 初始高度，仅容纳 h1 */
    }

    /* .project:active .title {
        height: 45px;
    } */

    #project-detail img {
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        /* 保持图片填充且不变形 */
        display: block;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
    }
}

@media(min-width: 651px) {
    menu section{
        width: calc(100% - 40px);
        max-width: 1240px;
    }

    .project {
        margin: 1em;
        position: relative;
        width: 600;
    }

    .project img {
        width: 600px;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        /* 保持图片填充且不变形 */
        display: block;
    }

    .project .title {
        width: calc(600px - 40px);
        height: 30px;
        /* 初始高度，仅容纳 h1 */
    }
    #project-detail img {
        width: 600px;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        /* 保持图片填充且不变形 */
        display: block;
    }
    #project-detail{
        width: 600px;
    }
}

/* 小型桌面 */
@media (min-width: 1025px) {
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }

    .project:hover .title {
        height: 80px;
        /* 悬停时的高度，容纳 h1 和 p 标签 */
    }

    .project:hover .title p {
        opacity: 1;
    }
}

/* 平板 */
@media (min-width: 651px)and (max-width: 1024px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    .project .title {
        width: calc(100% - 40px);
    }
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}