.hurricane-regular {
    font-family: "Hurricane", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    background-color: #1A1A1A;
    font-family:'Courier New', Courier, monospace;
}

header{
    font-family: "Hurricane", cursive;
    font-weight: 400;
    font-style: normal;

    display:flex;
}

main{
    display:flex;
    flex-wrap: wrap;
}

main img {
    transition: 1.5s;
}

main img:hover {

    height: 250px;
}
